*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;

    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;


}



/* --------------------------------Base------------------------------------- */


article {

  max-width:1500px ;
  height: 100;
  background-color: orange;
  box-shadow: 10px 0px black;
  margin: 0 auto;

  
}

#titulo {

  font-size: 100px;
  box-sizing: content-box;
  padding-top: 40px;
  padding-left: 30px;
  text-shadow: 10px 10px #fff;
}


#titulo img{

  filter: drop-shadow(5px 5px black);
  max-width: 100px;

}



/* --------------------------------Cartas----------------------------------- */


#card {

    display: inline-block;

 
    box-sizing: content-box;
    background-color: lightgrey;
    width: 380px;
    height: 650px;
      


    margin-top: 50px;

    margin-left: 80px;




    border-radius: 10px;
    padding-top: 20px;
    box-shadow: 6px 0px black;

}

#card img {

    display: block;

    box-sizing: content-box;



    max-height: 280px;


    margin:  0 auto;



}


#card h1 {

  box-sizing: content-box;

  margin-top: 20px;

  font-size: 50px;
  text-shadow: 5px 5px white;
  text-align: center;
  padding-bottom: 10px;
}

#card p#info{

  box-sizing: content-box;

  text-align: center;

  padding-top: 15px;

  width: 300px;

  margin: 0 auto;

}

#card .especie {

  box-sizing: border-box;
  
  background-color: #fff;
  border-radius: 0px 0px 30px;
  padding: 5px;
  height: auto;
  width: 200px;
  margin-bottom: 7px;
}






